@charset "UTF-8";

/* Định dạng các nút đăng nhập và đăng ký trong offcanvas */
.offcanvas-body .login-button {
	background-color: #fff;
	font-weight: 500;
	color: #00688b;
	font-size: 15px;
	padding: 8px 20px;
	margin: 5px;
	border-radius: 50px;
	text-decoration: none;
	transition: 0.3s background-color;
}

.offcanvas-body .login-button:hover {
	background-color: #c0c9c9;
	color: #00688b; /* Đảm bảo màu chữ khi hover */
}

/* Định dạng hình ảnh của thương hiệu trong thanh điều hướng */
.navbar-brand img {
	height: 40px;
	width: 40px;
}

nav .nav-link {
	color: #fff;
	font-weight: 500;
	position: relative;
	left: 5px;
}

.nav-link:hover, .nav-link.active {
	color: #c0c9c9;
}

/* Hiệu ứng gạch dưới liên kết khi hover trên màn hình lớn */
@media ( min-width : 991px) {
	.nav-link::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 2px;
		background-color: #c0c9c9;
		visibility: hidden;
		transition: width 0.3s ease-in-out;
	}
	.nav-link:hover::before {
		width: 100%;
		visibility: visible;
	}
}

/* Định dạng các liên kết trong thanh điều hướng cho màn hình nhỏ */
@media ( max-width : 990px) {
	.login-button {
		margin-top: 10px;
		width: 100%;
	}
	.nav-link {
		color: #fff;
		line-height: 25px;
		width: 100%;
		margin: 1px 0;
		padding-left: 5px;
		border-bottom: 1px dotted #fff;
	}
}

/* Định dạng các thành phần navbar-toggler */
.navbar-toggler {
	border: none;
	font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
	box-shadow: none;
	outline: none;
}