@charset "UTF-8";
.dropdown-custom:hover>.dropdown-menu-custom{
    display: block;    
  }
  .dropdown-nav-custom{
    display: none;
  }
  .dropdown-menu-custom{
    display: none;
    margin-top: 50px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng shadow */
  }
  .dropdown-custom>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.offcanvas-body .dash {
  height: 50px;
  width: 1px;
  border: 0.1px solid #fff;
  margin-right: 30px;
}
.btn-light-custom{
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  margin-left: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Hiệu ứng shadow */

}
.btn-light{
    background-color: #fff;
    border-radius: 90px;
}

.img-user{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid #00688b;
}
.span-name-user{
    color: #00688b;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 3px;
}
.text-dropdown-menu{
  color: #00688b;
}

@media(max-width: 990px){
  .dash{
    display: none;
  }
  /* .dropdown:hover>.dropdown-menu {
    display: none;
  } */
   .display-none{
    display: none;
   }
   .dropdown-nav-custom{
    display: block;
    
   }
   .dropdown-nav-custom .btn-primary{
    background-color: #00688b;
    border: none;
    color: #fff;
    font-weight: 500;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng shadow */  
   }
   .dropdown-menu-nav-custom{
    margin-left: 5px;
   }
   .img-user-responsive{
    height: 40px;
    width: 40px;
    padding: 1px;
    border: 1px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng shadow */  

   }
}