
/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}


#contact-button {
	/* background-color: #007bff; */
	border-radius: 50%;
	color: white;
	bottom: 0;
	right: 0;
}

#additional-button {
	background-color: #6c757d;
	border-radius: 50%;
	color: white;
	bottom: 70px; /* Đặt cách nút chat một khoảng */
	right: 0;
}

#contact-button-container {
	display: flex;
	align-items: center;
	position: relative;
	width: 200px;
}

.gy {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* Khoảng cách giữa các phần tử */
}

.gy label {
	margin: 5px 0; /* Khoảng cách dọc giữa các nhãn */
}

.gy input {
	margin-right: 5px; /* Khoảng cách ngang giữa checkbox và nhãn */
}

.chat-content {
	display: flex;
	align-items: center;
	color: white;
	background-color: #007bff;
	border-radius: 50px;
	padding: 10px;
	margin-left: 10px;
}

.chat-content {
	display: flex;
	align-items: center;
	color: white;
	background-color: #007bff;
	border-radius: 50px;
	padding: 10px;
	margin-left: 10px;
}

#message {
	display: none;
	position: absolute;
	bottom: 80px;
	right: 0;
	width: 320px;
	border-radius: 8px;
}

#message .btn-close {
	float: right;
	margin-left: 10px;
}

#popup-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 2000;
}

#message {
	position: absolute;
	bottom: 80px;
	right: 0;
	width: 320px;
	border-radius: 8px;
}

#message .btn-close {
	float: right;
	margin-left: 10px;
}

#popup-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 2000;
}

#popup-form .btn-close {
	float: right;
	margin-left: 10px;
}

.stars label {
	font-size: 2rem;
	cursor: pointer;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.stars {
	display: flex;
	margin: 0 10px;
	justify-content: center;
	margin-bottom: 10px;
}

.stars input {
	display: none;
}

.stars label {
	font-size: 2rem;
	cursor: pointer;
	margin: 0 53px; /* Khoảng cách giữa các ngôi sao */
}

.stars input:checked ~ label {
	color: gold;
}

.stars label:hover, .stars label:hover ~ label {
	color: gold;
}

.star-labels {
	display: flex;
	justify-content: center;
	width: 100%;
}

.star-labels div {
	width: 20%;
	text-align: center;
	font-size: 1rem;
	margin-top: -10px;
}

